<link rel="stylesheet" type="text/css" href="/styles/style-mainmenu.css">
	<header id="headerTemp" class="headerBarStyle">
		<nav class="topTools">

      <div class="headerToolsImages">

        <img class="hoverMouse" src="../template/templateFoto/iconwiki.gif" data-original ="../template/templateFoto/iconwiki.gif" data-hover ="../template/templateFoto/homeIcon.png" style="width:25px; height: 25px; margin: 20px;">        
        <img id = "switchIcon" src="../template/templateFoto/loop.png">
      </div>
    </nav>
    <nav class="bottomTools">
      <img>
    </nav>

</header>    

