<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../styles/style-mainmenu.css">
</head>
<body>
	<header id="headerTemp">
		<nav class="topTools">

      <div class="headerToolsImages">

        <img class="hoverIcon" src="../template/templateFoto/iconwiki.gif" data-original ="../template/templateFoto/iconwiki.gif" data-hover ="../template/templateFoto/homeIcon.png" style="width:25px; height: 25px; margin: 20px;">        
        <img id = "switchIcon" src="../template/templateFoto/loop.png">
      </div>
    </nav>
    <nav class="bottomTools">
      <img>
    </nav>
</header>
</body>
</html>